<body class="bodyInfo">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Awkward Potion Recipe</h3>
                <img src="assets/Images/Potions/Awk.png" alt="AwkwardPotion" class = "imageSizing">
                <p> An Awkward Potion can be brewed using a water bottle and a single nether wart his potion is the main 
                    starting point to making almost every potion. This potion has no effects
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Mundane Potion Recipe</h3>
                <img src="assets/Images/Potions/Mundane.png" alt="MundanePotion" class = "imageSizing">
                <p> A Mundane Potion can be brewed by using any potion material other than nether wart or glow stone dust. 
                    It results in a useless potion that gives no effects.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Thick Potion Recipe</h3>
                <img src="assets/Images/Potions/Thick.png" alt="ThickPotion" class = "imageSizing">
                <p> A Thick Potion can be brewed by using glow stone dust and results in a useless potion that has no effects</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Healing Recipe</h3>
                <img src="assets/Images/Potions/Healing.png" alt="HealingPotion" class = "imageSizing">
                <p> A Potion of Healing can be brewed with a single glistening melon and an Awkward Potion and creates a Potion of Instant Health which restores 4 hearts.
                    This effect can be doubled by adding a single glow stone dust producing a Potion of Instant Health II which restores 8 hearts.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Fire Resistance Recipe</h3>
                <img src="assets/Images/Potions/Fire.png" alt="FireResPotion" class = "imageSizing">
                <p> A Potion of Fire Resistance can be brewed with a single Magma Crean and an Awkward Potion and lasts
                    for 3:00. The duration can be increased to 8:00 by adding a single piece of redstone dust.                    
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Regeneration Recipe</h3>
                <img src="assets/Images/Potions/Regen.png" alt="RegenPotion" class = "imageSizing">
                <p> A Potion of Regeneration can be brewed with a single Ghast Tear and an Awkward Potion and lasts for 45 seconds.
                    The duration can be increased to 1:30 with a single piece of redstone dust or it can be enhanced to a Potion of Regeneration II 0:22
                    with a single piece of glow stone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Strength Recipe</h3>
                <img src="assets/Images/Potions/Strength.png" alt="StrengthPotion" class = "imageSizing">
                <p> A Potion of Strength can be brewed with a single Blaze Powder and an Awkward Potion and lasts 
                    for 3:00. the duraction can be increased to 8:00 by addidng restone or it can be enhanced to Strength Potion II which lasts
                    for 1:30.                    
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Swiftness Recipe</h3>
                <img src="assets/Images/Potions/Swift.png" alt="SwiftPotion" class = "imageSizing">
                <p> A Swiftness Potion can be brewed with sugar and an Awkward Potion and lasts for 3:00. The duration can be increased to
                    8:00 by adding redstone dust or it can be enhanced to a Swiftness Potion II which lasts for 1:30.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Night Vision Recipe</h3>
                <img src="assets/Images/Potions/Vision.png" alt="VisionPotion" class = "imageSizing">
                <p> A Night Vision Potion can be brewed with a Golden Carrot and an Awkward Potion and lasts 3:00. 
                    The duration of this potion can be increased to 8:00 with redstone dust.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Invisibility Recipe</h3>
                <img src="assets/Images/Potions/Invis.png" alt="InvisPotion" class = "imageSizing">
                <p> A Invisibility Potion can be brewed with a fermented Spider Eye and a Potion of Night Vision and lasts for 3:00.
                    The duration can be increased to 8:00 with redstone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Water Breathing Recipe</h3>
                <img src="assets/Images/Potions/Water.png" alt="WaterPotion" class = "imageSizing">
                <p> A Water Breathing Potion can be brewed with a Pufferfish and an Awkward Potion and lasts for 3:00.
                    The duration can be increased to 8:00 with redstone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Leaping Recipe</h3>
                <img src="assets/Images/Potions/Leaping.png" alt="LeapingPotion" class = "imageSizing">
                <p> A Leaping Potion can be brewed with a Rabbits Foot and an Awkward Potion and lasts for 3:00.
                    The duration can be increased to 8:00 with redstone dust or it can be enhanced to a Potion of Leaping II
                    with a duration of 1:30.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Slow Falling Recipe</h3>
                <img src="assets/Images/Potions/Falling.png" alt="FallingPotion" class = "imageSizing">
                <p> A Potion of Slow Falling can be brewed with a Phantom Membrane and an Awkward Potionand lasts for 1:30.
                    The duration can be increased to 4:00 with redstone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Poison Recipe</h3>
                <img src="assets/Images/Potions/Poison.png" alt="PoisonPotion" class = "imageSizing">
                <p> A Poison Potion can be brewed with a Spider Eye and an Awkward Potion and lasts for 0:45.
                    The duration can be increased to 1:30 with redstone or it canbe enhanced to a Potion of Poison II
                    which lasts for 0:21.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Weakness Recipe</h3>
                <img src="assets/Images/Potions/Weakness.png" alt="WeaknessPotion" class = "imageSizing">
                <p> A Weakness Potion can be brewed with a fermented Spider Eye and a Water Bottle and lasts for 1:30.
                    The duration can be increased to 4:00 with redstone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Harming Recipe</h3>
                <img src="assets/Images/Potions/Harming.png" alt="HarmingPotion" class = "imageSizing">
                <p> A Potion of Harming can be brewed with a fermented Spider Eye and a Potion of Poison or Strength.
                    The potion can be enhanced to a Potion of Harming II with glowstone dust.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of Slowness Recipe</h3>
                <img src="assets/Images/Potions/Slow.png" alt="SlowPotion" class = "imageSizing">
                <p> A Slowness Potion can be brewed with a fermented Spider Eye and a Potion of Swiftness or Leaping 
                    and lasts 1:30. The duration can be increased to 4:00 with redstone dust or can be enhanced to a 
                    Potion of Slowness II which lasts for 0:20.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Potion of the Turtle Master Recipe</h3>
                <img src="assets/Images/Potions/Turtle.png" alt="TurtlePotion" class = "imageSizing">
                <p> A Potion of the Turtle Master can be brewed with a Turtle Shell and an Awkward Potion and lasts for 0:20.
                    A Turtle Master Potion gives Slowness and Resistance. The duration can be increased to 0:40 with redstone dust
                    or it can be enhanced to a Potion of the Turtle Master II and lasts for 0:20.
                </p>
            </div>
        </div>
    </div>
</body>
