<body class="body2">
    <div class="tab bg-secondary">
        <button class="tablinks" (click)="openCat(0)">All</button>
        <button class="tablinks" (click)="openCat(2)">Passive</button>
        <button class="tablinks" (click)="openCat(1)">Hostile</button>
        <button class="tablinks" (click)="openCat(3)">Neutral</button>
    </div>

    <div class="row row-cols-4 tabcontent">
        <div class="col text-primary h3 column" *ngFor="let mob of mobsFiltered;">
            <div [class]="classCSS" class="p-5 text-center">
                <h3>{{ mob.name }}</h3>
                <img src="{{ mob.url }}" alt="Sword Gif" class="imageSizing">
                <p>{{ mob.description }}</p>
            </div>
        </div>
    </div>
</body>
        <!-- <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Chicken.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Pig.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Sheep.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Horse.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Cat.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Rabbit.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Strider.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Villager.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Turtle.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Goat.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Panda.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Parrot.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Dolphin.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Axolotl.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardPass">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Squid.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
      </div>

      <div id="Hostile" class="tabcontent">
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Zombie.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Creeper.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Skeleton.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Spider.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Blaze.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Drowned.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Hoglin.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Phantom.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Slime.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Witch.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Wither.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Silver.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Shulker.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Brute.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Magma.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Ghast.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Illager.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Vindicator.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Evoker.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardHos">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Ravager.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
      </div>
      
      <div id="Neutral" class="tabcontent">
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Bee.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Bear.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Enderman.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Golem.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Llama.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Piglin.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Zpig.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div>
        <div class="column">
            <div class="cardNeut">
                <h3>INSERT MOB NAME</h3>
                <img src="assets/Images/Mobs/Wolf.png" alt="Sword Gif" class = "imageSizing">
                <p> INSERT FLAVOR TEXT</p>
            </div>
        </div> -->
