.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    /* display: none; */
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    /* border-top: none; */
  }
  body {
    /* margin: 30px;
    padding: 0;
    font-family: sans-serif; */
    background-image: url("src\assets\Images\Custom.png");
    background-repeat: repeat
    /* background: linear-gradient(to right, #b92b27, #1565c0) */
}
.dividerView{
    width:5px;
    height:2px;
    display:inline-block;
}
.cardAll {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  font-weight: 600;
  /* text-align: center; */
  background-image: url("src\assets\Images\Stone.png");
  background-repeat: repeat;
  width: 350px;
  height: 500px;
  /*background: linear-gradient(#765338,#64a43a);*/
}
.cardPass {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    font-weight: 600;
    /* text-align: center; */
    background-image: url("src\assets\Images\Birch.png");
    background-repeat: repeat;
    width: 350px;
    height: 500px;
    /*background: linear-gradient(#765338,#64a43a);*/
}
.cardHos {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    font-weight: 600;
    /* text-align: center; */
    background-image: url("src\assets\Images\RedBrick.png");
    background-repeat: repeat;
    width: 350px;
    height: 500px;
    /*background: linear-gradient(#765338,#64a43a);*/
}
.cardNeut {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    font-weight: 600;
    /* text-align: center; */
    background-image: url("src\assets\Images\Deepslate.png");
    background-repeat: repeat;
    width: 350px;
    height: 500px;
    /*background: linear-gradient(#765338,#64a43a);*/
}
.imageSizing{
    width: 75%;
    height: 50%;
}
/*Cards css */
*{
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  .column {
    float: left;
    width: 24.77%;
    padding: 20px 10px;
  }

  .row {margin: 5 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }