/* body {
  font-family: Arial, Helvetica, sans-serif;
  
} */

/* .column {
  float: left;
  width: 24.77%;
  padding: 20px 10px;
}

.row {margin: 5 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}