<body class="body3">
    <br>
    <form #form="ngForm" (submit)="postForum()">
        <div class="row p-5">
            <div class="col">
                <h3 class = "white">{{ username | titlecase }}</h3>
                <h3 class = "white">Date: {{ date | date}}</h3>
                <br>
                <button input type="submit" class="btn btn-primary planks">Submit</button>
            </div>
            <div class="col">
                <div class = "d-flex">
                    <div class="card col-md-10">
                        <h3 class = "black">Forum</h3>
                        <p class = "black"> A place where you can meet and ask questions about minecraft to other gamers. You can post a question and another Minecraft player will answer!!</p>
                        <textarea name="comment" placeholder="Enter Text Here..." #text="ngModel" [(ngModel)]="forum.text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row p-5" *ngFor="let forum of forums;">
        <div class="col">
            <h3 class = "white">{{ forum.username | titlecase }}</h3>
            <h3 class = "white">Date Submitted: {{ forum.dateTime | date }}</h3>
        </div>
        <div class="col">
            <div class="d-flex">
                <div class="card col-md-10">
                    <h3 class = "TopLeft gray">{{ forum.username | titlecase }}</h3>
                    <h3 class = "TopRight gray">Date Submitted: {{ forum.dateTime | date }}</h3>
                    <p class="padding">{{ forum.text }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
