<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top border-top border-bottom border-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <img src="assets\Images\MC.png" alt="MC Logo" width="35" height="30">
          </li>
          <li class="nav-item">
            <a class="nav-link h5" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5" routerLink="signup">Signup</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link h5" routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link h5" (click)="logout()" routerLink="login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>