<body class="body1">
    <div class="container p-5">
        <h3 id="header" class="container border border-2 border-dark text-center p-5 shadow-lg rounded-3 planks">
            <u class = white2>MINECRAFT GAMER GUIDE</u>
        </h3>
        <h5 class="border border-2 border-dark p-5 shadow-lg rounded-3 planks">
            <p class= white>This Elite Craft Minecraft guide is any Minecraft gamer’s ultimate tool!! We provide tips and tricks on
                enchantments, weapons and armor stats, Mob info and more. Every tool is here to help boost your minecraft experience and 
                help you along your journey. Not here for the guides we got you. Head on over to the Gallery and forum to display your knowledge 
                and creative builds to players across the world.</p>
        </h5>
        <div class="row ">
            <div class="col ">
                <section id="details" class=" text-center container border border-2 border-dark p-5 shadow-lg rounded-3">
                    <div class="row ">
                        <div class="padding col ">
                            <div class="card bg-success shadow-md">
                                <div class="card-body">
                                    <h5 class="card-title">Potions</h5>
                                    <p class="card-text">Information, recipes and duration of all potions that you can utilize on your minecraft journey.
                                        <br> 
                                    <br> 
                                    </p>
                                    <button (click)="checkUser('potions')" class="btn btn-primary planks">Potions</button>
                                </div>
                            </div>
                        </div>
                        <div class="col padding">
                            <div class="card bg-success shadow-md">
                                <img src="" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Crafting Recipes</h5>
                                    <p class="card-text">A list of different types of crafting recipes ranging from
                                        building
                                        blocks, food stuffs, and redstone.</p>
                                    <button (click)="checkUser('recipes')" class="btn btn-primary planks">Crafting
                                        Recipes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col padding">
                            <div class="card bg-success shadow-md">
                                <img src="" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Mob Info</h5>
                                    <p class="card-text">The glossary of many different enemies and animals you may
                                        encounter in the game along with their damage and health info.</p>
                                    <button (click)="checkUser('mobs')" class="btn btn-primary planks">Mob Info</button>
                                </div>
                            </div>
                        </div>
                        <div class="col padding">
                            <div class="card bg-success shadow-md">
                                <img src="" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Weapons/Armor + Stats</h5>
                                    <p class="card-text">A cornucopia of weapons, armor and enchantments info to help a any player
                                        survive in Minecraft.
                                        <br> 
                                    </p>
                                    <button (click)="checkUser('weapons_armor')" class="btn btn-primary planks">Weapons/Armor +
                                        Stats</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col padding">
                            <div class="card bg-success shadow-md">
                                <img src="" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Gallery</h5>
                                    <p class="card-text">Share your images to players around the world express your creative minecraft builds and art work.</p>
                                    <button (click)="checkUser('gallery')" class="btn btn-primary  planks">Gallery</button>
                                </div>
                            </div>
                        </div>
                        <div class="col padding">
                            <div class="card bg-success shadow-md">
                                <img src="" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Forum</h5>
                                    <p class="card-text">A place you can  or ask questions about the game and gain new
                                        knowledge
                                        on how achieve personal goals within the game.</p>
                                    <button (click)="checkUser('forum')" class="btn btn-primary planks">Forum</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>