#details{
    background-image: url(https://img.gurugamer.com/resize/1200x-/2020/11/06/maxresdefault-2020-10-14t110048-427-a1ac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* #header{
    background-image: url(https://assets.primagames.com/media/images/news/minecraft-dungeons-achievement-list.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */