#details{
    background-image: url(https://img.gurugamer.com/resize/1200x-/2020/11/06/maxresdefault-2020-10-14t110048-427-a1ac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* #header{
    background-image: url(https://assets.primagames.com/media/images/news/minecraft-dungeons-achievement-list.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.padding{
    padding: 30px;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-image: url("src\assets\Images\StoneBricks.jpg");
    width: 400px;
    height: 250px;
    /*background: linear-gradient(#765338,#64a43a);*/
}