<br>
<div class="container">
    <h1 class="container border border-2 border-dark text-center p-5">GAMER GUIDE</h1>
    <br>
    <div class="row">
        <div class="col w-25">
            <aside class="border border-2 border-dark p-5">
                <h4>Side Bar</h4>
            </aside>
        </div>
        <div class="col w-75">
            <section class="container border border-2 border-dark p-5">
                <div class="row">
                    <div class="col border border-2 border-secondary p-5 mx-5">
                        <h4>Resources Location</h4>
                    </div>
                    <div class="col border border-2 border-secondary p-5">
                        <h4>Crafting Recipes</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col border border-2 border-secondary p-5 mx-5">
                        <h4>Mob Info</h4>
                    </div>
                    <div class="col border border-2 border-secondary p-5">
                        <h4>Weapon / Armor + Stats</h4>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>