<body class="body2">
    <!-- <div class="container">
        <div class="row">
            <div class="column">
                <div class="card shadow-lg" *ngFor="let recipe of recipes;">
                    <h3>{{ recipe.title }}</h3>
                    <img src="{{ recipe.url }}" alt="Axes Gif">
                    <p>{{ recipe.description }}</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="column">
            <div class="card">
                <h3 class = "white">Helmet Crafting Recipe</h3>
                <img src="assets/Images/Crafting/HelmetGif.gif" alt="Sword Gif">
                <p class = "white"> A Helmet can be crafted with either five diamonds, gold ingots, iron ingots, stone, or leather</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Chestplate Crafting Recipe</h3>
                <img src="assets/Images/Crafting/ChectplateGif.gif" alt="Sword Gif">
                <p  class = "white"> A Chestplate can be crafted with either eight diamonds, gold ingots, iron ingots, stone, or leather</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Leggings Crafting Recipe</h3>
                <img src="assets/Images/Crafting/PantsGif.gif" alt="Sword Gif">
                <p class = "white"> Leggings can be crafted with either seven diamonds, gold ingots, iron ingots, stone, or leather</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Boots Crafting Recipe</h3>
                <img src="assets/Images/Crafting/BootsGif.gif" alt="Sword Gif">
                <p class = "white"> Boots can be crafted with either four diamonds, gold ingots, iron ingots, stone, or leather</p>
            </div>
        </div>

        <!-- <div class = "dividerView"></div> -->
        <div class="column">
            <div class="card">
                <h3 class = "white">Torch Crafting Recipe</h3>
                <img src="assets/Images/Crafting/Torch.png" alt="Sword Gif">
                <p class = "white"> Torches can be crafted with a single stick and a piece of coal or charcoal giving four torches</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Axe Crafting Recipe</h3>
                <img src="assets/Images/Crafting/axes.gif" alt="Sword Gif">
                <p class = "white">Axes can be crafted with 3 pieces of wood, cobblestone, gold, iron, or diamonds and two sticks</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Bow Crafting Recipe</h3>
                <img src="assets/Images/Crafting/bow.png" alt="Sword Gif">
                <p class = "white">A bow can be crafted with 3 string and 3 sticks</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Bucket Crafting Recipe</h3>
                <img src="assets/Images/Crafting/bucket.png" alt="Sword Gif">
                <p class = "white">A bucket can be crafted with three iron </p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Crafting Table Recipe</h3>
                <img src="assets/Images/Crafting/craftingTable.gif" alt="Sword Gif">
                <p class = "white">A crafting table is essentail and can be crafted with 4 wooden planks of any kind</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Flint and Steel Crafting Recipe</h3>
                <img src="assets/Images/Crafting/flintsteel.png" alt="Sword Gif">
                <p class = "white">Flint and Steel can be crafted with a single piece of flint and an iron ingot</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Hoe Crafting Recipe</h3>
                <img src="assets/Images/Crafting/hoes.gif" alt="Sword Gif">
                <p class = "white">Hoes can be crafted with 2 wood, cobblestone, iron, gold, or diamonds and 2 sticks</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Pickaxe Crafting Recipe</h3>
                <img src="assets/Images/Crafting/pickaxes.gif" alt="Sword Gif">
                <p class = "white">Hoes can be crafted with 3 wood, cobblestone, iron, gold, or diamonds and 2 sticks</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Sandstone Crafting Recipe</h3>
                <img src="assets/Images/Crafting/sandstone.gif" alt="Sword Gif">
                <p class = "white">Sandstone can be srafted with 4 sand in a box and is a decorative block </p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Shears Crafting Recipe</h3>
                <img src="assets/Images/Crafting/shears.png" alt="Sword Gif">
                <p class = "white">Shears can be crafted with 2 iron ingots placed off center from each other</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Shield Crafting Recipe</h3>
                <img src="assets/Images/Crafting/shield.gif" alt="Sword Gif">
                <p class = "white">A shield can be crafted from 6 wood and a single iron ingot</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Shovel Crafting Recipe</h3>
                <img src="assets/Images/Crafting/shovels.gif" alt="Sword Gif">
                <p class = "white">Shovels can be crafted with 2 sticks and a single piece of wood, cobblestone, iron, gold, or diamonds</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Stained Clay Crafting Recipe</h3>
                <img src="assets/Images/Crafting/stainedclay.gif" alt="Sword Gif">
                <p class = "white">Stained clay can be crafted from hardened clay and any dyes </p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 class = "white">Sticks Crafting Recipe</h3>
                <img src="assets/Images/Crafting/sticks.png" alt="Sword Gif">
                <p class = "white">Sticks can be crafted from 2 wood planks and provides 4 upon completion</p>
            </div>
        </div>

        
    </div>
</body>