<body class="bg">
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Swords</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StoneSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldenSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherSword.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding">
                Swords do 4,5,6,4,7,8 hearts of damage respectfully without enchantments. They all have a constant attack speed of 1.6. 
                <br> Possible Enchantments:
                <br>    •Fire Aspect   •Looting   •Smite   •Bane of Arthropods •Mending
                <br>    •Unbreaking    •Sharpness •Knockback   •Sweeping Edge

            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Axes</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StoneAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherAxe.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                Axes do 7,9,9,7,9,10 half hearts of damage respectfully without enchantments. They all have a <br>constant attack speed of 1. A fully charged axe hit will disable shields.
                <br> Possible Enchantments:
                <br>    •Efficiency   •Fortune  •Smite   •Bane of Arthropods •Mending
                <br>    •Unbreaking    •Silk Touch  •Sharpness  •Sweeping Edge

            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Pickaxes</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StonePick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldenPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherPick.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                Pickaxes have 59,131,250,32,1561,2031 points of durability respectfully without enchantments. <br>When attacking they do between 2-6 heart points of damage. 
                <br> Possible Enchantments:
                <br>    •Efficiency   •Fortune  •Mending
                <br>    •Silk Touch    •Unbreaking 
            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Helmets</h3>
            <div class="rowHelm">
                <img src="assets/Images/Enchants/Armor/LeatherHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/TurtleHelm.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                Helmets provide 1,2,2,2,3,3,2 points of protection against damage respectfully without enchantments.<br> The turtle helmet provides a bonus water breathing effect for 10 seconds. 
                <br> Possible Enchantments:
                <br>    •Fire Protection   •Projectile Protection   •Blast Protection   •Protection 
                <br>    •Unbreaking         •Respiration        •Mending     •Thorns

            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Chestplates</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LeatherChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherChest.gif" alt="Sword Gif" class=" imageSizing">
            </div>assets/
            <p class="white padding">
                Chestplates provide 3,5,6,5,8,8 points of protection against damage respectfully without enchantments. <br>This piece provides the most amount of protection and shouldd be prioritized
                <br> Possible Enchantments:
                <br>    •Fire Protection   •Projectile Protection   •Blast Protection   
                <br>    •Unbreaking       •Protection           •Mending     •Thorns
            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Leggings</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LeatherLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldLegs.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherLeg.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                Leggings provide 2,3,5,3,6,6 points of protection against damage respectfully without enchantments.
                <br> Possible Enchantments:
                <br>    •Fire Protection   •Projectile Protection   •Blast Protection   
                <br>    •Unbreaking       •Protection           •Mending     •Thorns

            </p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Boots</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LetherBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherBoots.gif" alt="Sword Gif" class=" imageSizing">

            </div>
            <p class="white padding"> 
                Boots provide 1,1,2,1,3,3 points of protection against damage respectfully without enchantments. 
                <br> Possible Enchantments:
                <br>    •Fire Protection   •Projectile Protection   •Blast Protection   •Feather Falling
                <br>    •Unbreaking       •Protection           •Mending     •Thorns •Depth Strider • Frost Walker  •Soul Speed

            </p>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Bows</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Bow.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/Crossbow.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding">
                A fully charged Bow does 6 heart points while a full charged critical does 11 hearts of damage. <br>
                A crossbow 6 hearts of damage and 11 hearts with a critical it needs to be charged once and becomes an instance no charge bow shot.<br>
                Fireworks cane be loaded into the crossbow by holding it in your ofand and does 18 hearts of damage
                <br> Possible Enchantments:
                <br>•Quick Charge •Multishot •Piercing •Unbreaking 
                <br>•Punch •Flame •Power •Infinity •Mending 
            </p>>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Shield</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Shield.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                A shield can block all incoming damage in a set area in front of the player. The shield breaks and is disabled for 5 seconds when his with a fully charged axe.<br>
                The shield can be combined with any banner to apply a design to the shields face.
                <br>Possible Enchantments:
                <br>•Unbreaking •Mending 
            </p>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Trident</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Trident.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> 
                A trident does 8 heart points of damage when thrown and 9 heart points when used in melee. Tridents are best when used as a projectile underwater.
                Tridents can only be repaired using other tridents or a mending book. The channeling enchant calls lightning upon hitting a target in a thunder storm.
                Riptide causes the player to lunge forward in a spinning motion when the trident is throw while located in a water block. 
                Lotalty Causes a thrown trident to return to the player without retrieval. 
                <br>Possible Enchantments:
                <br>•Unbreaking •Mending •Loyalty 
                <br> •Riptide •Impaling  •Channeling
            </p>
        </div>
    </div>
    <div class="dividerView"></div>

</body>

