<body class="bg">
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Swords</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StoneSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldenSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondSword.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherSword.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Axes</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StoneAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondAxe.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherAxe.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Pickaxes</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/WoodenPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/StonePick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/IronPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/GoldenPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/DiamondPick.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/NetherPick.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Helmets</h3>
            <div class="rowHelm">
                <img src="assets/Images/Enchants/Armor/LeatherHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherHelm.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/TurtleHelm.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Chestplates</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LeatherChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondChest.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherChest.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Leggings</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LeatherLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldLegs.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondLeg.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherLeg.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>

    <div class="dividerView"></div>

    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Boots</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Armor/LetherBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/ChainBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/IronBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/GoldBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/DiamondBoots.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Armor/NetherBoots.gif" alt="Sword Gif" class=" imageSizing">

            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Bows</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Bow.gif" alt="Sword Gif" class=" imageSizing">
                <img src="assets/Images/Enchants/Tools/Crossbow.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Shield</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Shield.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>
    <div class="dividerView"></div>
    <div class="d-flex justify-content-center">
        <div class=" column"></div>
        <div class="card col-md-10">
            <h3 class="white">Trident</h3>
            <div class="row">
                <img src="assets/Images/Enchants/Tools/Trident.gif" alt="Sword Gif" class=" imageSizing">
            </div>
            <p class="white padding"> A Sword can be crafted with either two diamonds, gold ingots, iron ingots, stone,
                or wood and a
                single stick</p>
        </div>
    </div>
    <div class="dividerView"></div>

</body>

